<div class="card">
  <img class="card__img" src="{{ photoCover }}" alt="Post cover" />
  <a [routerLink]="['posts', id]">
    <div class="container">
      <h2 class="card__title">
        {{ cardTitle }}
      </h2>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 18L18 6M18 6H10M18 6V14"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg></div
  ></a>
  <p class="card__description">
    {{ cardDescription }}
  </p>
  <div class="card__author">
    <img
      class="card__author-avatar"
      src="{{ cardAuthorAvatar }}"
      alt="Author avatar"
    />
    <h3 class="card__author-name">{{ cardAuthor }}</h3>
    <span>&#8226;</span>
    <p class="card__date">{{ cardDate }}</p>
  </div>
</div>
