<app-navbar />
<app-hero-post
  photoCover="https://images.unsplash.com/photo-1551434678-e076c223a692?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  cardTitle="Test com Input"
  cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec
libero quis massa suscipit consectetur id quis lorem. Quisque facilisis
quis risus sed pulvinar. Donec sit amet nisi ex. Duis diam diam, porta nec
purus eu, ullamcorper commodo nunc. Nullam a lacus maximus, pulvinar nibh
nec, luctus metus. Ut mollis finibus leo, tincidunt venenatis tellus
ultricies varius."
/>
<section class="posts">
  <h2>Posts recentes</h2>
  <div class="posts__cards">
    <app-card-post
      photoCover="https://images.unsplash.com/photo-1542234968-96e28019f847?q=80&w=1629&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptates, quod, quae, quos quia quibusdam dolorum voluptatum voluptatem
      quas quidem nemo. Quisquam voluptates, quod, quae, quos quia quibusdam
      dolor."
      cardAuthor="Eduardo Morikuni Fortes"
      cardAuthorAvatar="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww"
      cardDate="16 Out 2024"
    />
  </div>
</section>
<app-call-to-action />
<app-footer />
<router-outlet />
