<section class="content">
  <img class="content__cover" src="{{ contentCover }}" alt="Post cover image" />
  <article class="content__article">
    <h1>{{ contentTitle }}</h1>
    <h2 class="content__description">
      {{ contentDescription }}
    </h2>
    <div class="content__author">
      <img class="content__avatar" src="{{ contentAvatar }}" alt="" />
      <div>
        <p>{{ contentAuthor }}</p>
        <time datetime="2024-10-21">{{ contentDate }}</time>
      </div>
    </div>
    @for (paragraph of contentMain; track paragraph){
    <p>{{ paragraph }}</p>
    }
  </article>
</section>
<button class="content__button" (click)="back()">Voltar</button>
