<app-hero-post
  id="{{ heroPost.id }}"
  photoCover="{{ heroPost.cover }}"
  cardTitle="{{ heroPost.title }}"
  cardDescription="{{ heroPost.description }}"
/>
<section class="posts">
  <h2>Posts recentes</h2>
  <div class="posts__cards">
    @for (post of recentPosts; track post.id){
    <app-card-post
      id="{{ post.id }}"
      photoCover="{{ post.cover }}"
      cardTitle="{{ post.title }}"
      cardDescription="{{ post.description }}"
      cardAuthor="{{ post.author }}"
      cardAuthorAvatar="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YXZhdGFyfGVufDB8fDB8fHww"
      cardDate="{{ post.date }}"
    />}
  </div>
</section>
<app-call-to-action />
