<div>
  <ul class="post-list">
    @for (post of posts; track post.id){
    <div class="container">
      <a [routerLink]="[post.id]">
        <li class="post-list__item">
          <h2>{{ post.title }}</h2>
          <p class="post-list__description">{{ post.description }}</p>
          <div class="post-list__author">
            <img
              class="post-list__img"
              src="{{ post.avatar }}"
              alt="Author avatar"
            />
            <div class="author__description">
              <p class="author__name">{{ post.author }}</p>
              <time datetime="">{{ post.date }}</time>
            </div>
          </div>
        </li></a
      >
    </div>
    }
  </ul>
</div>
