<section class="hero">
  <img
    src="https://images.unsplash.com/photo-1551434678-e076c223a692?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="Cover photo of hero post"
    class="hero__img"
  />
  <div class="hero__content">
    <h2>Post de teste do hero</h2>
    <!-- PARAGRAFO COM NO MÁXIMO 376 CARACTERES -->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec
      libero quis massa suscipit consectetur id quis lorem. Quisque facilisis
      quis risus sed pulvinar. Donec sit amet nisi ex. Duis diam diam, porta nec
      purus eu, ullamcorper commodo nunc. Nullam a lacus maximus, pulvinar nibh
      nec, luctus metus. Ut mollis finibus leo, tincidunt venenatis tellus
      ultricies varius.
    </p>
  </div>
</section>
