<section class="action">
  <svg width="44" height="38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M30.8 10.8H0l4.4 8.8h26.4a8.8 8.8 0 0 1 0 17.6C38.09 37.2 44 31.29 44 24c0-7.29-5.91-13.2-13.2-13.2z"
      fill="#099250"
    />
    <path
      opacity=".3"
      d="M20.784 34.768c-1.463-2.926.664-6.368 3.935-6.368h6.08a4.4 4.4 0 1 1 0 8.8h-6.08a4.4 4.4 0 0 1-3.935-2.432z"
      fill="#099250"
    />
    <path
      opacity=".6"
      d="M30.8 19.6h-22l4.4 8.8h17.6a4.4 4.4 0 0 1 0 8.8 8.8 8.8 0 0 0 0-17.6z"
      fill="#099250"
    />
  </svg>
  <h2>Fique sembre atualizado sobre novos posts</h2>
  <p>Inscreva-se na nossa newsletter</p>
  <form>
    <input type="email" placeholder="Seu melhor e-mail" />
    <button type="submit">Inscrever-se</button>
  </form>
</section>
